html {
    height: 100%;
  }
  
  .page {
    position: relative;
    display: flex;
    height: 100%;
    /* min-width: 800px; */
    height: inherit;
  
  }
  
  .page__video {
    position: absolute;
    inset:0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .page__title {
    max-width: 720px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    font-size: 116px;
    line-height:136px;
    letter-spacing: 0.035em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .page::after {
    content: " ";
    position: absolute;
    inset:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .page__title::after {
    content: "*";
    position: relative;
  }
  
  .page__title:hover::before {
    content: "На самом деле нет. \AВажнее &mdash; научиться ошибаться.";
    position: absolute;
    top: 180px;
    right: 20px;
    z-index: 2;
    max-width: 760px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 36px 44px;
    box-shadow: 0 12px 0 #000;
    font-weight: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0;
    text-align: left;
    text-transform: none;
    background-color: #fff;
    white-space: pre;
  }
  
  .page__title:hover {
    color: #4C4C4C;
    cursor: default;
  }